Django==5.2.11
django-ckeditor==6.7.3
django-cleanup==9.0.0
django-crispy-forms==2.6
crispy-bootstrap4==2026.2
pillow==12.1.1
sqlparse==0.5.5
asgiref==3.11.1
gunicorn
whitenoise
dj-database-url
psycopg2-binary
cloudinary
django-cloudinary-storage
channels
daphne
channels_redis